doctype html
html
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='msapplication-tap-highlight', content='no')
  head
    title SandBox
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js')
  style(type='text/css', media='screen').
    #editor {
    position: relative;
    height: 200px;
    }
  style.
    body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }
    main {
    flex: 1 0 auto;
    }
    h2.thin {
    font-weight: 200;
    }
    .toastbottom {
    bottom: 45px; right: 24px;
    }
    .hidden{
    visibility: hidden;
    }
    a.thin_2{
    font-weight: 300;
    }
    #userlist {
    position: absolute; left: 0; top: 0; bottom: 0; height: auto;
    width: 175px;
    }
  body
    header
      .navbar-fixed
        nav.teal
          .nav-wrapper
            a#titlee.truncate.brand-logo.thin_2(href='#!')
              i.mdi-editor-insert-drive-file.left
              | New File
    main
      .container
        h2.thin Sandbox editor
        .row
          form.col.s12
            .row
              #text.input-field.col.s10
                #editor
              #text.input-field.col.s2
                #userlist
          
        h2.thin Discussion:
        h5#results
      // Compiled and minified CSS
    // Modal Structure
    #startmodal.modal
      .modal-content
        h4 Save
        p
          | Files with same names will be overwritten.
          br
        .input-field.col.s6
          input#filename.validate(style=' font-size:30px', type='text')
          label(for='filename') File Name
      .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#') Cancel
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#', onclick='savefile()') Save
    footer.page-footer.transparent
      .footer-copyright
        .container
          a.grey-text.right anikraj1994@gmail.com
    // Firebase
    script(src='https://cdn.firebase.com/js/client/2.3.2/firebase.js')
    // ACE
    script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js')
    // Firepad
    link(rel='stylesheet', href='https://cdn.firebase.com/libs/firepad/1.3.0/firepad.css')
    script(src='https://cdn.firebase.com/libs/firepad/1.3.0/firepad.min.js')
    script(src='/script/firepad-userlist.js')
    link(rel='stylesheet', href='/stylesheets/firepad-userlist.css')
    script.
      var firepadRef = new Firebase('cppeditor.firebaseio.com/firepads/test');
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/dreamweaver");
      editor.getSession().setMode("ace/mode/c_cpp");
      editor.getSession().setTabSize(4);
      editor.setOptions({
      maxLines: Infinity
      });
      editor.$blockScrolling = Infinity
      editor.getSession().setUseWrapMode(false)
      editor.setHighlightActiveLine(false);
      document.getElementById('editor').style.fontSize='18px';
      editor.setShowPrintMargin(false);
      editor.commands.addCommand({
      name: 'commenti',
      bindKey: {win: 'Ctrl-C',  mac: 'Command-C'},
      exec: function(editor) {
      comment();
      },
      readOnly: true // false if this command should not apply in readOnly mode
      });
      var firepad = Firepad.fromACE(firepadRef, editor);
      var userId = Math.floor(Math.random() * 9999999999).toString();
      var firepadUserList = FirepadUserList.fromDiv(firepadRef.child('users'),
      document.getElementById('userlist'), userId);
      firepad.on('ready', function() {
      if (firepad.isHistoryEmpty()) {
      firepad.setText('Check out the user list to the left!');
      }
      });
  script(type='text/javascript').
    $( document ).ready(function(){
    function comment(){
    //$('#commentmodal').openModal();
    Materialize.toast('Comment added', 2000);
    }
    });
